/.vscode
/.idea
/.DS_Store
/__pycache__
*.pyc
*.pyo
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.so
*.py[cod]
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.mo
.mr.developer.cfg
.project
.pydevproject
.ropeproject
*.log
*.pot
docs/_build/
poetry.lock
.DS_Store
.idea
.env
alembic.ini